.navbar {
    position:fixed;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 12px 0;
    text-align: center;
    box-sizing: border-box;
    background-color: seagreen;
    top: 0;
    width: 100%;
    vertical-align: middle;
    height: fit-content;
}

.navbar__item {
    border: solid green 1px;
    margin: .3em;
    flex-basis: 20%;
    list-style-type: none;
    color: black;
    height: fit-content;
    padding: .2em;
    background-color: lightgreen;
    border-radius: px
}
